<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hangman.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6EB95C9B1D9A75C9002F2951</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EB95CAF1D9A75CA002F2951</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EB95CBA1D9A75CA002F2951</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
